<template name="view_modals_addUser">
    
    <div class="dapp-modal-header-plain">
        <h1>People You follow</h1>
    </div>

    <div class="dapp-modal-scroll-container">
        
        <ul class="user-list">
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Aeron Buchanan
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7f3c50c73db61?d=retro&s=60')"></div>
                    Thomas Salzar
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d4126c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Birgit Benod
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Aeron Buchanan
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7f3c50c73db61?d=retro&s=60')"></div>
                    Thomas Salzar
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d4126c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Birgit Benod
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Aeron Buchanan
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7f3c50c73db61?d=retro&s=60')"></div>
                    Thomas Salzar
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d4126c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Birgit Benod
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7f3c50c73db61?d=retro&s=60')"></div>
                    Thomas Salzar
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d4126c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Birgit Benod
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Aeron Buchanan
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7f3c50c73db61?d=retro&s=60')"></div>
                    Thomas Salzar
                </button>
            </li>
            <li>
                <button>
                    <div class="dapp-profile-image" style="background-image: url('http://www.gravatar.com/avatar/30d4126c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
                    Birgit Benod
                </button>
            </li>
        </ul>
    </div>

    <div class="dapp-modal-buttons">
        <button>Nevermind</button>
        <button class="dapp-primary-button">Invite to chat</button>
    </div>
    
</template>