<template name="views_loginResetPassword">
    <a href="{{pathFor 'loginSignIn'}}" class="back icon-arrow-left7"></a>

    <h1>{{i18n "accounts.resetYourPassword"}}</h1>
    <form id="resetPassword" action="about:blank" target="form-helper-iframe" autocomplete="on">

        <fieldset>
            <input type="password" name="password" value="" placeholder="{{i18n 'accounts.password'}}">
        </fieldset>
        <fieldset>
            <input type="password" name="passwordConfirm" value="" placeholder="{{i18n 'accounts.passwordConfirm'}}">
        </fieldset>

        <button type="submit" class="block-button">{{i18n "accounts.updateYourPassword"}}</button>
    </form>
</template>
