<template name="views_chats_aside">
    <nav>
        <ul>
            <li><button class="add-chat dapp-main-button">{{i18n 'whisper.app.buttons.newChat'}} <i class="icon-pencil"></i></button></li>
            <li class="{{isActivePath regex='public$'}}">
                <a href="{{pathFor route='chat' sessionKey='public'}}">{{i18n 'whisper.chat.texts.publicChat'}}</a>
            </li>
            {{#each chats}}
                <li class="{{isActivePath regex=_id}}">
                    <a href="{{pathFor route='chat' sessionKey=_id}}">
                        {{#if name}}
                            {{name}}
                        {{else}}
                            {{i18n 'whisper.chat.placeholder.unnamedChat'}}
                        {{/if}}

                        {{#if $gt unreadCount 0}}
                            <span class="dapp-count">{{unreadCount}}</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</template>


<template name="views_chats">

    <header class="dapp-content-header">
        <div class="whisper-user-chat-header">
            <div class="dapp-profile-image dapp-small" style="background-image: url('http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=60')"></div>
            
            <a href="{{pathFor route='userProfile' userId='1323423'}}" class="whisper-username">Random Username</a> {{i18n 'whisper.chat.texts.talksAbout'}}
            <input type="text" value="{{myTopic}}" name="topic">
        </div>

        <textarea name="write-message" placeholder="{{i18n 'whisper.chat.placeholder.writeHere'}}"></textarea>
    </header>

    <!-- <div class="dapp-message">
        {{i18n 'whisper.chat.texts.invitePeople1'}}
        <a href="{{pathFor route='addUser'}}"><i class="icon-user-add"></i> {{i18n 'whisper.app.buttons.addUser'}}</a>
        {{i18n 'whisper.chat.texts.invitePeople2'}}
        <input type="text" value="whisperchat.eth/9183k1sd/" disabled>
    </div> -->

    {{#each messages}}
        {{#Animate}}

        <div class="whisper-chat-item {{#if isYou}}you{{/if}} animate">
            <div class="whisper-user-info">
                <div class="dapp-profile-image dapp-small" style="background-image: url('http://www.gravatar.com/avatar/{{from}}?d=retro&s=60')"></div>
            </div>
            <div class="whisper-chat-header">
                <a href="{{pathFor route='userProfile' userId=from}}" class="whisper-username">{{username from.identity}}</a> on <span class="topic">{{topic}}</span> {{formatTime timestamp 'fromnow'}}
                {{#if isYou}}
                    <button class="edit-message">{{i18n 'buttons.edit'}}</button>
                {{/if}}
                {{#if edited}}
                    <i class="icon-pencil" title="{{i18n 'whisper.chat.texts.edited'}} {{formatTime edited 'fromnow'}}"></i>
                {{/if}}
            </div>

            <p>{{{message}}}</p>   

        </div>
        {{/Animate}}

    {{else}}
        <p>{{i18n 'whisper.chat.texts.noChats'}}</p>
    {{/each}}
   
</template>


<template name="views_chats_actionbar">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='addUser' sessionKey=_id}}">
                    <i class="icon-user-add"></i>
                    Add Users
                </a>
            </li>
            <li>
                <button>
                    <i class="icon-bolt"></i>
                    Connect
                </button>
            </li>
            <li>
                <button class="leave-chat">
                    <i class="icon-logout"></i>
                    Leave Chat
                </button>
            </li>
        </ul>
    </nav>
</template>