<template name="views_chats_aside">
    <nav>
        <ul>
            <li><button class="add-chat dapp-main-button">{{i18n 'whisper.app.buttons.newChat'}} <i class="icon-chat"></i></button></li>
            <!-- <li class="{{isActivePath regex='public$'}}">
                <a href="{{pathFor route='chat' sessionKey='public'}}">{{i18n 'whisper.chat.texts.publicChat'}}</a>
            </li> -->
            {{#each chats}}
                <li class="{{isActivePath regex=_id}}">
                    <a href="{{pathFor route='chat' sessionKey=_id}}" title="{{generatedName}}">
                        {{#if privateChat}}
                            <i class="icon-lock"></i>
                        {{else}}
                            <i class="icon-users"></i>
                        {{/if}}

                        <!-- the span is in here to make multiline text ellipsis possible -->
                        <span>
                            {{#if name}}
                                {{name}}
                            {{else}}
                                {{generatedName}}
                            {{/if}}

                            {{#if $gt unreadCount 0}}
                                <span class="dapp-count">{{unreadCount}}</span>
                            {{/if}}
                        </span>
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</template>


<template name="views_chats">
    <main class="dapp-content dapp-has-header">

        {{#with currentIdentity}}
            <header class="dapp-content-header">
                <div class="whisper-user-chat-header">
                    {{> elements_profileImage identity=identity class="dapp-small"}}
                    
                    <a href="{{pathFor route='userProfile' userId=identity}}" class="whisper-username">{{name}}</a> {{i18n 'whisper.chat.texts.talksAbout'}}
                    <input type="text" value="{{myTopic}}" name="topic">
                </div>

                <textarea name="write-message" placeholder="{{i18n 'whisper.chat.placeholder.writeHere'}}"></textarea>
            </header>
        {{/with}}


        {{#each groupedMessages}}
            {{> views_chats_item}}

        {{else}}
            <p>{{i18n 'whisper.chat.texts.noChats'}}</p>
        {{/each}}

    </main>
</template>


<template name="views_chats_item">
    <div class="whisper-chat-item {{#if isYou from}}you{{/if}} animate">
        <div class="whisper-user-info">
            {{> elements_profileImage identity=from.identity class="dapp-small"}}
        </div>
        <div class="whisper-chat-header">
            <a href="{{pathFor route='userProfile' userId=from.identity}}" class="whisper-username">
                {{username from.identity}}
                {{#if inContacts}}<i class="icon-book" title="{{i18n 'whisper.users.texts.youreFollowing'}}"></i>{{/if}}
            </a>
            {{formatTime timestamp 'fromnow'}}
        </div>

        {{#each messages}}
            <div class="whisper-chat-message {{#if $eq type 'notification'}}notification{{/if}}">
                <div class="whisper-chat-message-header">
                    {{#if canEdit ../from}}
                        <button class="edit-message">{{i18n 'buttons.edit'}}</button>
                    {{/if}}
                    {{#if topic}}{{i18n 'commonWords.on'}} <button class="topic">{{topic}}</button>{{/if}}
                    {{#if edited}}
                        <i class="icon-pencil" title="{{i18n 'whisper.chat.texts.edited'}} {{formatTime edited 'fromnow'}}"></i>
                    {{/if}}
                </div>

                {{#if $eq type 'notification'}}
                    <p>
                        <i class="icon-info2"></i>
                        {{{notificationType}}}
                    </p>
                {{else}}
                    {{#markdown}}{{{message}}}{{/markdown}}
                {{/if}}
            </div>
        {{/each}}

    </div>
</template>


<template name="views_chats_actionbar">
    <nav>
        <ul>
            <li>
                <a href="{{pathFor route='addUser' sessionKey=_id}}">
                    <i class="icon-user-add"></i>
                    Add Users
                </a>
            </li>
            <!-- <li>
                <button>
                    <i class="icon-bolt"></i>
                    Connect
                </button>
            </li> -->
            <li>
                <button class="leave-chat">
                    <i class="icon-logout"></i>
                    Leave Chat
                </button>
            </li>
        </ul>
    </nav>
</template>