<template name="views_chats_aside">
    <nav>
        <ul>
            <li><a href="">Menu entry</a></li>
            <li><a href="">Menu entry</a></li>
            <li><a href="">Menu entry</a></li>
            <li><a href="">Menu entry</a></li>
        </ul>
    </nav>
</template>


<template name="views_chats">
    My chats go here.<br>
    
    <span style="font-weight:100;"> 100 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:200;"> 200 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:300;"> 300 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:400;"> 400 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:500;"> 500 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:600;"> 600 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:700;"> 700 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:800;"> 800 <span style="font-style:italic"> Italic </span></span><br>
    <span style="font-weight:900;"> 900 <span style="font-style:italic"> Italic </span></span><br>
</template>

<template name="views_actionbar">
	<ul class="action-bar">
		<li class="icon invite-action"> Add Users </li>
		<li class="icon connect-action"> Connect </li>
	</ul>
</template>