<template name="layout_main">
		<div class="bg-cover"></div>

	<div class="dapp-modal-content">
		<!--profile overlay-->
		<div class="whisper-profile h-card">
        	<img class="u-photo" src="http://www.gravatar.com/avatar/30d41046c84d466cebf7fec50c73db61?d=retro&s=128" alt="" />
       		<h2 class="p-nickname" href="">Random Username</h2>
       		<span>Anonymous User</span>
       		<div class="about">This is an anonymous user. This user calls itself “PrivateWolf” but no guarantees can be made  about it’s identity, or any links between him and any other user with the same nickname here or any other platform.</div>
       		<a href="" class="follow-button important-button">Follow</a>
		</div>
	</div>

	<div class="dapp-flex-content">
		
		<div class="dapp-grid"></div>



		<!-- aside -->
		<aside class="dapp-main">
			{{> yield region="aside"}}
		</aside>

		<!-- content -->
		<main class="dapp-content">
			{{> yield}}
		</main>

		<!-- actions -->
		<aside class="dapp-actions">
			{{> yield region="actionbar"}}
		</aside>

	</div>
	
	<!-- footer -->
	<footer class="dapp-main">
		
	</footer>
</template>