// libs
@import 'lib/dapp-styles/dapp-main.import.less';

// constants
// @import 'constants.import.less';
// @import 'mixins.import.less';

// layout
// @import 'layout/elements.import.less';
// @import 'layout/buttons.import.less';
// @import 'layout/containers.import.less';

// elements

// views
// @import 'views/sign-up.import.less';

// responsive
// @import 'responsive.import.less';




/**********************************/
/* START FORMATTING YOUR APP HERE */
/**********************************/


// Change Defaults

@colorLink: #02A8F3;
@darkColor: #064A80;
@colorMainBackground: #05669A;


.dapp-main {
    .light-text;
}