<template name="views_loginForgotPassword">
    <a href="{{pathFor 'loginSignIn'}}" class="back icon-arrow-left7"></a>


    <h1>{{i18n "accounts.forgotPassword"}}</h1>
    <form id="forgotPassword" action="about:blank" target="form-helper-iframe" autocomplete="on">
        <input type="email" name="forgottenEmail" class="form-control" value="{{emailAddress}}" placeholder="{{i18n 'accounts.emailAddress'}}">

        <button type="submit" class="block-button">{{i18n "accounts.emailResetLink"}}</button>
    </form>

</template>

